<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAPEG | DEMO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
</head>
<body>

    <nav id="sidebar">
        <div class="float-top">

            <!-- Yan Menü - Yeni Sohbet Butonu -->
            <div class="sidebar-controls">
                <button class="new-chat" onclick="startNewChat()">➕ Yeni Sohbet</button>
                <button class="hide-sidebar"><i class="fa fa-chevron-left"></i></button>
            </div>

            <ul class="conversations">
                <h3 class="grouping" style="color: #9ca6b5">Geçmiş Sohbetler</h3>
                {% for chat in chat_list %}
        <li class="active">
            <li>
                <button onclick="loadChat('{{ chat.id }}')">{{ chat.name }}</button>
            </li>
        </li>
        {% endfor %}
            </ul>
        </div>
        <div class="user-menu" style="text-align: center; border-bottom: 1px solid #484a4e">
            <button onclick="resetTeams()">
                🔃 Takımları Sıfırla
            </button>
            <button onclick="deleteAllChats()" style="padding-top: 10px">
                🗑️ Tüm Sohbetleri Sil
            </button>

        </div>
        <img src="../static/mapegassist.png" style="width: 150px; padding-top: 10px; padding-left: 15%">
    </nav>


<main>

    <div class="parent-container">
        <!-- Sohbet Kutusu -->
    <div class="chat-container">
        <div class="chat-box" id="chatBox">
            {% if chat_history %}
                {% for message in chat_history %}
                    <div class="message {{ 'user-message' if message.role == 'user' else 'ai-message' }}">
                        {{ message.content }}
                    </div>
                {% endfor %}
            {% else %}
                <div class="message ai-message">Merhaba! Size nasıl yardımcı olabilirim?</div>
            {% endif %}
        </div>
    </div>
    </div>

    <div id="message-form">
        <!-- Mesaj Gönderme Formu -->
        <form class="message-wrapper" id="chatForm">
            <textarea id="message" name="prompt" rows="1" placeholder="Talebinizi Yazın..." required></textarea>
            <button class="send-button" type="submit">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
        </form>
    </div>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>